# Audio / TTS
piper-tts
sounddevice
numpy
soundfile

# Web / Server
fastapi
pydantic
uvicorn
websockets
pyserial
python-multipart
dotenv
groq

# Windows-only (Correctamente aislados)
pycaw>=20230407; sys_platform == 'win32'
comtypes>=1.2.0; sys_platform == 'win32'

# Hardware & Vision
screen-brightness-control
opencv-python-headless; sys_platform != 'win32'
opencv-python; sys_platform == 'win32'
mediapipe
hidapi

# AI / ML
faster-whisper
scikit-learn
llama-cpp-python
